# Terraform
.terraform
*.auto.tfvars
terraform.tfstate
terraform.tfstate.backup
modules/

# Packer
.packer
*-vars.pkr.hcl
packer.json
packer.d.ts
packer_cache/
**/user-data

# Ansible
ansible.cfg
hosts

#Misc
*.exe
unattend.pkrtpl
**/iostor/*
**/netkvm/*