# Terraform
.terraform
*.auto.tfvars
terraform.tfstate
terraform.tfstate.backup
modules/

# Ansible
ansible.cfg
hosts

# Packer
.packer
*-vars.pkr.hcl
packer.json
packer.d.ts
packer_cache/
**/user-data

# Packer - Windows Server 2022
*.exe
unattend.pkrtpl
**/iostor/*
**/netkvm/*