proxmox_node = "your-proxmox-node"

ubuntu_iso_file = "local:iso/your-ubuntu-iso-image.iso" # Location of iso within Proxmox
win2022_iso_file = "local:iso/your-win-iso-image.iso"

packer_http_bind_address = "0.0.0.0"

ssh_username = "your-username"
ssh_password = "your-password"

winrm_user = "your-username"
winrm_password = "your-password"
winrm_host = "0.0.0.0"

image_index = {
  "core" = 1
  "desktop" = 2
}