proxmox_api_url = "https://your-proxmox-url:8006/api2/json"
proxmox_api_token_id = "foo@pve!bar"
proxmox_api_token_secret = "00000000-0000-0000-0000-000000000000"
proxmox_node = "your-proxmox-node"

ubuntu_iso_file = "local:iso/your-ubuntu-iso-image.iso" # Location of iso within Proxmox
win2022_iso_file = "local:iso/your-win-iso-image.iso"

packer_http_bind_address = "0.0.0.0"

ssh_username = "your-username"
ssh_password = "your-password"

winrm_user = "your-username"
winrm_password = "your-password"
winrm_host = "0.0.0.0"

image_index = {
  "core" = 1
  "desktop" = 2
}