version: "3.9"

services:
  harness:
      image: harness/harness:3.3.0
      ports:
        - 3000:3000
        - 3022:3022
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock

        - type: bind
          source: /mnt/docker_shared/apps/harness/data
          target: /data
      networks:
        - network
      deploy:
        mode: replicated
        replicas: 1
        placement:
          constraints: [node.role == worker]

networks:
  network:
    driver: overlay
    attachable: true
