services:
  nginx-reverse-proxy:
      image: "docker.io/jc21/nginx-proxy-manager:${NGINX_PROXY_VERSION}"
      ports:
        - 80:80
        - 8181:81
        - 443:443
      volumes:
        - type: bind
          source: ${DOCKER_SWARM_STORAGE}/nginx-proxy-manager/data
          target: /data
        
        - type: bind
          source: ${DOCKER_SWARM_STORAGE}/nginx-proxy-manager/certs
          target: /etc/letsencrypt
      networks:
        - network
      deploy:
        mode: replicated
        replicas: 1

networks:
  network:
    driver: overlay
    attachable: true
