version: "3.9"

services:
  plex:
    image: lscr.io/linuxserver/plex:1.42.2
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - VERSION=docker
      # - PLEX_CLAIM=claim-xxxxxxxxxxxxxxxxxxxx
    volumes:
      - type: bind
        source: "/mnt/media/plex/Plex/Movies/"
        target: /movies

      - type: bind
        source: "/mnt/media/plex/Plex/TV Shows/"
        target: /tv

      - type: bind
        source: /mnt/docker_shared/apps/plex/data
        target: /config
    ports:
      - 32400:32400
      # Optional: additional ports for DLNA, discovery, etc.
      # - 1900:1900/udp
      # - 32469:32469
      # - 32410:32410/udp
      # - 32412:32412/udp
      # - 32413:32413/udp
      # - 32414:32414/udp
    networks:
      - network
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints: [node.role == worker]

networks:
  network:
    driver: overlay
    attachable: true
