version: "3.9"

services:
  portainer:
      image: portainer/portainer-ce:2.33.6
      command:
        -H tcp://tasks.agent:9001 --tlsskipverify
        --tlscert /certs/portainer.crt
        --tlskey /certs/portainer.key
      ports:
        - 9443:9443
        - 9000:9000
      volumes:
        - type: bind
          source: /mnt/docker_shared/apps/portainer/data
          target: /data

        - type: bind
          source: /mnt/docker_shared/apps/portainer/certs
          target: /certs
          read_only: true
      networks:
        - network
      deploy:
        mode: replicated
        replicas: 1
        placement:
          constraints: [node.role == manager]

  agent:
    image: portainer/agent:2.33.5
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    networks:
      - network
    deploy:
      mode: global
      placement:
        constraints: [node.platform.os == linux]

networks:
  network:
    driver: overlay
    attachable: true
