services:
  terraform:
      image: "images.releases.hashicorp.com/hashicorp/terraform-enterprise:${TFE_VERSION}"
      environment:
        TFE_LICENSE: ${TFE_LICENSE}
        TFE_ENCRYPTION_PASSWORD: ${TFE_ENCRYPTION_PASSWORD}
        TFE_OPERATIONAL_MODE: "disk"
        TFE_DISK_CACHE_VOLUME_NAME: "tfe-cache"
        TFE_TLS_CERT_FILE: "/etc/ssl/private/terraform-enterprise/cert.pem"
        TFE_TLS_KEY_FILE: "/etc/ssl/private/terraform-enterprise/key.pem"
        TFE_TLS_CA_BUNDLE_FILE: "/etc/ssl/private/terraform-enterprise/bundle.pem"
        TFE_IACT_SUBNETS: ${TFE_IACT_SUBNETS}
        TFE_HOSTNAME: ${TFE_HOSTNAME}
      ports:
        - "7080:80"
        - "7443:443"
      cap_add:
        - IPC_LOCK
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock

        - type: bind
          source: ${DOCKER_SWARM_STORAGE}/tfe/data
          target: /var/lib/terraform-enterprise

        - type: bind
          source: ${DOCKER_SWARM_STORAGE}/tfe/cache
          target: /var/cache/tfe-task-worker/terraform

        - type: bind
          source: ${DOCKER_SWARM_STORAGE}/tfe/certs
          target: /etc/ssl/private/terraform-enterprise
      networks:
        - network
      deploy:
        mode: replicated
        replicas: 1

networks:
  network:
    driver: overlay
    attachable: true
