version: "3.9"

services:
  uptime-kuma:
      image: louislam/uptime-kuma:1.23.16
      ports:
        - 3001:3001
      volumes:
        - type: bind
          source: /mnt/docker_shared/apps/uptimekuma/data
          target: /app/data
      networks:
        - network
      deploy:
        mode: replicated
        replicas: 1
        placement:
          constraints: [node.role == worker]

networks:
  network:
    driver: overlay
    attachable: true
