services:
  uptime-kuma:
      image: louislam/uptime-kuma:${UPTIME_KUMA_VERSION}
      ports:
        - 3001:3001
      volumes:
        - type: bind
          source: ${DOCKER_SWARM_STORAGE}/uptimekuma/data
          target: /app/data
      networks:
        - network
      deploy:
        mode: replicated
        replicas: 1

networks:
  network:
    driver: overlay
    attachable: true
