version: "3.9"

services:
  vault:
      image: hashicorp/vault-enterprise:1.21.1-ent
      ports:
        - 8200:8200
      entrypoint: vault server -config /vault/config/config.hcl
      cap_add:
        - IPC_LOCK
      volumes:
        - type: bind
          source: /mnt/docker_shared/apps/vault/data
          target: /vault/data

        - type: bind
          source: /mnt/docker_shared/apps/vault/logs
          target: /vault/logs

        - type: bind
          source: /mnt/docker_shared/apps/vault/certs
          target: /certs
        
        - type: bind
          source: /mnt/docker_shared/apps/vault/config/vault-config.hcl
          target: /vault/config/config.hcl

        - type: bind
          source: /mnt/docker_shared/apps/vault/config/vault.hclic
          target: /vault/config/vault.hclic
      networks:
        - network
      deploy:
        mode: replicated
        replicas: 1
        placement:
          constraints: [node.role == worker]

networks:
  network:
    driver: overlay
    attachable: true
