services:
  vault:
      image: "hashicorp/vault:${VAULT_VERSION}"
      ports:
        - 8200:8200
      entrypoint: vault server -config /vault/config/config.hcl
      cap_add:
        - IPC_LOCK
      volumes:
        - type: bind
          source: ${DOCKER_SWARM_STORAGE}/vault/data
          target: /vault/data

        - type: bind
          source: ${DOCKER_SWARM_STORAGE}/vault/logs
          target: /vault/logs

        - type: bind
          source: ${DOCKER_SWARM_STORAGE}/vault/certs
          target: /certs
        
        - type: bind
          source: ${DOCKER_SWARM_STORAGE}/vault/config/vault-config.hcl
          target: /vault/config/config.hcl

      networks:
        - network
      deploy:
        mode: replicated
        replicas: 1

networks:
  network:
    driver: overlay
    attachable: true
