vault_address = "https://vault.domain.local:8200"
vault_token   = "hvs.xxxxxxxxxxxxxxxxxxxxx"

admin_username = "foo"
admin_password = "bar"

cn_root     = "domain.local"
cn_intermediate = "local.domain.local"
issuer_name = "domain.local-root"
allowed_domains = ["domain.local"]

cn_intermediate_role_name = "local-dot-domain-dot-local"

google_allowed_redirect_uris = ["https://vault.domain.local/ui/vault/auth/oidc/oidc/callback"]
google_client_id             = "00000000000-xxxxxxxxxxxxxxx123456.apps.googleusercontent.com"
google_client_secret         = "XOOO-xxxxxxxxxxxxxx1234_X00"

allowed_ssh_users = "foo,bar"
ssh_cidr = "10.1.1.0/24"