vault_address = "https://vault.domain.local:8200"
vault_token   = "hvs.xxxxxxxxxxxxxxxxxxxxx"

admin_username = "foo"
admin_password = "bar"

cn_root     = "domain.local"
cn_intermediate = "local.domain.local"
issuer_name = "domain.local-root"
allowed_domains = ["domain.local"]

cn_intermediate_role_name = "local-dot-domain-dot-local"